@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.shadow-right-purple {
  box-shadow: 1px 0 2px 0 #a38cee;
}
.shadow-left {
  box-shadow: -2px 0px 5px -1px #a38cee;
}
.shadow-top {
  box-shadow: 0 -3px 6px -2px #a38cee;
}
::-webkit-scrollbar {
  width: 0; /* WebKit */
  display: none; /* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
}

@layer base {
  body {
    max-width: 1440px;
    margin: 0 auto;
    background-size: cover;
    background: black;
  }
}

/**:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/**@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


.topGradient {
  background: linear-gradient(
    to top right,
    rgba(129, 89, 212, 1),
    rgba(99, 0, 176, 1)
  );
}**/
